Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Fix Google Analytics (#433)
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/App/App.tsx
  frontend/src/env.ts
  frontend/yarn.lock
Due: frontend

Fixed issue with cors-proxy requirement show in docker-compose. Removed unused imports to get rid of warnings.
  frontend/docker-compose.yml
  frontend/src/api/routes.ts
Due: frontend

remove headers/comtent from response, and citation works again
  backend/metagrid/api_proxy/views.py
Due: none

remove additonal response settings
  backend/metagrid/api_proxy/views.py
Due: none

revert wget API url
  frontend/.envs/.local/.react
Due: none

Added tests for full coverage, minor updates.
  frontend/src/common/utils.test.ts
  frontend/src/common/utils.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
Due: none

Feature/341 combine online offline cart searches (#436)
  frontend/src/common/utils.test.ts
  frontend/src/common/utils.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/types.ts
Due: none

Updated version number.
  frontend/package.json
  frontend/src/components/App/App.tsx
Due: frontend

Update django from 3.2.13 to 4.0.5
  backend/requirements/base.txt
Due: none

Fixing remaining front-end tests, minor updates to the server handler for specific tests.
  frontend/src/api/index.test.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/index.test.tsx
Due: none

Updated Django to 3.2.14.
  backend/requirements/base.txt
Due: none

Proxy api (#429)
  backend/config/urls.py
  backend/metagrid/api_proxy/__init__.py
  backend/metagrid/api_proxy/tests/__init__.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/requirements/base.txt
  frontend/.envs/.local/.react
  frontend/cors-proxy/index.js
  frontend/cors-proxy/package.json
  frontend/cors-proxy/yarn.lock
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/index.test.tsx
  traefik/traefik.yml.tmpl
Due: frontend

Removing references to cors-proxy, files associated with cors-proxy and documentation mentioning the proxy.
  docs/docs/contributors/frontend_development.md
  docs/docs/contributors/getting_started_production.md
  frontend/.envs/.local/.cors-proxy
  frontend/.gitignore
  frontend/docker/local/cors-proxy/Dockerfile
  frontend/docker/production/cors-proxy/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Formatted views.py to see if pre-commit passes.
  backend/metagrid/api_proxy/views.py
Due: none

Formatted test_views.py and updated tests to see if pre-commit passes.
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
Due: none

Performed isort on config/urls.py to see if pre-commit passes.
  backend/config/urls.py
Due: none

V1.0.6 (#440)
  backend/config/urls.py
  backend/metagrid/api_proxy/__init__.py
  backend/metagrid/api_proxy/tests/__init__.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/requirements/base.txt
  docs/docs/contributors/frontend_development.md
  docs/docs/contributors/getting_started_production.md
  frontend/.envs/.local/.cors-proxy
  frontend/.envs/.local/.react
  frontend/.gitignore
  frontend/cors-proxy/index.js
  frontend/cors-proxy/package.json
  frontend/cors-proxy/yarn.lock
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  frontend/docker/local/cors-proxy/Dockerfile
  frontend/docker/production/cors-proxy/Dockerfile
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/common/utils.test.ts
  frontend/src/common/utils.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/types.ts
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/yarn.lock
  traefik/traefik.yml.tmpl
Due: frontend

Bumped version number.
  frontend/package.json
  frontend/src/components/App/App.tsx
Due: frontend

hotfix to get wget script download to work
  backend/metagrid/api_proxy/views.py
Due: none

fix removed return
  backend/metagrid/api_proxy/views.py
Due: none

hotfix to get wget script download to work (#449)
  backend/metagrid/api_proxy/views.py
Due: none

Updating file to fix minor blank line issue.
  backend/metagrid/api_proxy/views.py
Due: none

hotfix to get wget script download to work (#449) (#450)
  backend/metagrid/api_proxy/views.py
Due: none

changes to fix wget download issues: multiple download, direct link handed to browser
  backend/metagrid/api_proxy/views.py
  frontend/.envs/.production/.react.template
  frontend/src/api/index.ts
  frontend/src/api/routes.ts
  frontend/src/env.ts
Due: none

Removed uneccessary import
  frontend/src/api/index.ts
Due: none

Changes to fix wget download issues. (#452)
  backend/metagrid/api_proxy/views.py
  frontend/.envs/.production/.react.template
  frontend/src/api/index.ts
  frontend/src/api/routes.ts
  frontend/src/env.ts
Due: none

Placed a temporary redirect int the frontend for redirecting users from metagrid-prefix to no prefix. This should be handled by nginx in an upcoming update.
  frontend/src/components/App/App.tsx
Due: none

proxy endpoint for globus script
  backend/config/urls.py
  backend/metagrid/api_proxy/views.py
Due: none

fix let url and ApiRoute issues, formatting
  frontend/src/api/index.ts
  frontend/src/api/routes.ts
Due: none

refactor proxy api to use environment-based settings
  backend/.envs/.local/.django
  backend/.envs/.production/.django.template
  backend/config/settings/base.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
Due: none

Testing the use of a central config file and a manager script. Created a metagrid_configs folder where different configs can be stored and used.
  .pyup.yml
  backend/docker-compose.prod.yml
  frontend/.envs/.production/.cors-proxy.template
  frontend/docker-compose.prod.yml
  metagrid_configs/.metagrid_config
  metagrid_manage.sh
  traefik/Dockerfile
  traefik/docker-compose.prod.yml
  traefik/traefik.tmpl
  traefik/traefik.yml
Due: backend, frontend

updates to scripts and dockerfile for traefik to handle empty prefx variables.
  .metagrid_configs/metagrid_config
  backend/docker-compose.prod.yml
  frontend/docker-compose.prod.yml
  metagrid_manage.sh
  traefik/Dockerfile
  traefik/traefik.tmpl
Due: backend, frontend

More fixes and updates.
  backend/docker-compose.prod.yml
  frontend/docker-compose.prod.yml
  manage_metagrid.sh
  metagrid_configs/metagrid_config
  traefik/Dockerfile
  traefik/make_traefik.sh
  traefik/traefik.tmpl
Due: backend, frontend

Update django from 3.2.14 to 4.0.6
  backend/requirements/base.txt
Due: none

add env vars
  .github/workflows/backend.yml
Due: none

Updated script to include sudo that was missing and also copy to traefik when a backup is restored.
  manage_metagrid.sh
Due: none

updates t the script for local testing. Fixed a docker-compose minor issue in the backend production so it points to correct config file.
  backend/docker-compose.prod.yml
  manage_metagrid.sh
Due: backend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
