Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Update traefik rule syntax - Fix static and media URL being served with subdirectory
  README.md
  backend/docker/production/traefik/traefik.yml
  backend/metagrid/config/base.py
Due: none

Disable DRF browseable API in prod
  backend/metagrid/config/base.py
  backend/metagrid/config/local.py
Due: none

Fix incorrect DOMAIN_SUBDIRECTORY env var
  README.md
  backend/metagrid/config/base.py
  backend/metagrid/config/urls.py
Due: none

Update react monorepo to v16.14.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add routing for frontend services through Traefik
  README.md
  backend/docker-compose.prod.yml
  frontend/.envs/.production/.proxy.template
  frontend/.envs/.production/.react.template
  frontend/docker-compose.prod.yml
  frontend/docker/local/react/Dockerfile
  frontend/docker/production/nginx/nginx.subdir.conf
  frontend/docker/production/proxy/Dockerfile
  frontend/docker/production/react/Dockerfile
  frontend/docker/production/react/entrypoint
  frontend/package.json
  frontend/proxy.js
  frontend/public/index.html
  frontend/src/components/App/App.tsx
  frontend/src/lib/axios/index.ts
  traefik/Dockerfile
  traefik/docker-compose.prod.yml
  traefik/traefik.yml
Due: backend, frontend

Fix admin urls not using ADMIN_ROUTE
  backend/metagrid/config/urls.py
Due: none

Update react monorepo to v17
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v4.6.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update fetchDatasetFiles to use Search API route - Remove esgfFiles from apiRoutes object and server-handlers - Rename esgfDatasets to esgfSearch - Update tests
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/common/utils.test.ts
  frontend/src/common/utils.ts
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/index.test.tsx
Due: none

Add data node status integration
  frontend/.envs/.local/.react
  frontend/.envs/.production/.react.template
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/assets/img/nodes.svg
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/DataDisplay/ToolTip.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/NodeStatus/NodeSummary.test.tsx
  frontend/src/components/NodeStatus/NodeSummary.tsx
  frontend/src/components/NodeStatus/StatusToolTip.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/NodeStatus/index.tsx
  frontend/src/components/NodeStatus/types.ts
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/env.ts
Due: none

Add secure-headers middleware in traefik.yml
  traefik/traefik.yml
Due: none

Update all
  backend/requirements/local.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Remove upgrade to react-scripts 4.0.0 - Fix Keycloak type errors
  frontend/package.json
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/yarn.lock
Due: frontend

Add label and tooltip for optional facets
  frontend/src/api/mock/fixtures.ts
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/index.tsx
Due: none

Fix warnings for non-unique keys
  frontend/src/components/NavBar/LeftMenu.tsx
  frontend/src/components/Search/Table.tsx
Due: none

Fix act() warnings
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
Due: none

Add cross-project and CREATE-IP search options
  backend/metagrid/cart/models.py
  backend/metagrid/projects/migrations/0014_auto_20200824_2231.py
  backend/metagrid/projects/migrations/0015_auto_20201030_1837.py
  backend/metagrid/projects/migrations/0016_auto_20201030_2115.py
  backend/metagrid/projects/migrations/0017_auto_20201030_2254.py
  backend/metagrid/projects/models.py
  backend/metagrid/projects/tests/test_models.py
  frontend/src/components/Facets/FacetsForm.tsx
Due: none

Update Facet models to normalize database
  backend/metagrid/cart/migrations/0007_auto_20201102_1902.py
  backend/metagrid/projects/admin.py
  backend/metagrid/projects/migrations/0018_auto_20201102_1902.py
  backend/metagrid/projects/migrations/0019_auto_20201102_1913.py
  backend/metagrid/projects/migrations/0020_facet.py
  backend/metagrid/projects/migrations/0021_auto_20201102_2200.py
  backend/metagrid/projects/migrations/0022_auto_20201102_2205.py
  backend/metagrid/projects/migrations/0023_auto_20201102_2230.py
  backend/metagrid/projects/migrations/0024_auto_20201102_2230.py
  backend/metagrid/projects/migrations/0025_remove_projectfacet_name.py
  backend/metagrid/projects/migrations/scripts/inital_data.py
  backend/metagrid/projects/models.py
  backend/metagrid/projects/serializers.py
  backend/metagrid/projects/tests/factories.py
  backend/metagrid/projects/tests/test_models.py
  backend/metagrid/users/migrations/0005_auto_20201102_1902.py
  frontend/src/components/Search/Table.test.tsx
Due: none

Add Hotjar integration for testing and feedback
  README.md
  frontend/.dockerignore
  frontend/.envs/.production/.react.template
  frontend/package.json
  frontend/src/components/App/App.tsx
  frontend/src/env.ts
  frontend/yarn.lock
Due: frontend

Add react-ga package - Add REACT_APP_GOOGLE_ANALYTICS_TRACKING_ID env variable - Move BrowserRouter to root index.tsx - Move BrowserRouter in App tests to customRender method
  README.md
  frontend/.envs/.production/.react.template
  frontend/package.json
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/env.ts
  frontend/src/index.tsx
  frontend/src/test/custom-render.tsx
  frontend/yarn.lock
Due: frontend

Update Project facets_url prop for input4MIPs - Refactor project_param prop to use dict instead of if-else statement - Add docstring for project_param
  backend/metagrid/projects/models.py
  backend/metagrid/projects/tests/test_models.py
Due: none

Update GitHub Actions to use Environment Files
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
