Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Allows container workflow to run against PR
  .github/workflows/containers.yml
Due: none

Temporarily push as latest
  .github/workflows/containers.yml
Due: none

Entrypoint handles updating index.html with runtime configuration after react-scripts has modified during build
  frontend/docker/production/react/entrypoint
  frontend/public/index.html
Due: none

Fixes formatting error
  frontend/src/env.ts
Due: none

Adds missing tests
  frontend/src/env.test.ts
  frontend/src/env.ts
Due: none

Fixes trigger workflow
  .github/workflows/containers.yml
Due: none

Fixes workflow container tag
  .github/workflows/containers.yml
Due: none

Fixes workflow triggers, pushing only on tags, and using docker/metadata-action
  .github/workflows/containers.yml
Due: none

Testing unskipping the failing intermittent dataset download tests. Will skip them if they continue to fail
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Testing skipping the failing intermittent dataset download tests.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Changed the share search query function to simplify it. Will see if the coverage is correctly updated.
  frontend/src/components/App/App.tsx
Due: none

Testing switching over to latest node version and updating github actions version to see if coverage and test inconsistencies would improve. May need to revert if things break.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
Due: none

Fixed some warning messages in app.test.tsx, to improve test reliability. Updated package.json to hopefully remove babel deprectation warning.
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/App/App.test.tsx
  frontend/yarn.lock
Due: frontend

Testing re-enabling some datasetdownload tests and fixed act() warning issue.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Fixes missing properties from process.env in test
  frontend/src/env.test.ts
Due: none

Removed the outdated message (server maintenance is already occuring).
  frontend/public/messages/metagrid_messages.md
Due: none

V1.1.0 container update (#608)
  .github/workflows/containers.yml
  frontend/.envs/.react
  frontend/Makefile
  frontend/docker/production/react/Dockerfile
  frontend/docker/production/react/entrypoint
  frontend/public/index.html
  frontend/src/env.test.ts
  frontend/src/env.ts
  frontend/src/index.tsx
  frontend/src/test/custom-render.tsx
Due: frontend

Fixed some linting errors in env.test.ts
  frontend/src/env.test.ts
Due: none

Feature/504 project selected on dropdown (#600)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
  frontend/package.json
  frontend/public/changelog/v1.1.0.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/common/reactJoyrideSteps.test.ts
  frontend/src/common/reactJoyrideSteps.ts
  frontend/src/common/utils.test.tsx
  frontend/src/common/utils.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Tabs.tsx
  frontend/src/env.test.ts
  frontend/yarn.lock
Due: frontend

Hardcoded NERSC scope
  frontend/src/components/Globus/DatasetDownload.tsx
Due: none

Fixed linting complaints so that UI loads properly.
  frontend/src/api/routes.ts
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Updated react-markdown and fixed linter error
  frontend/package.json
  frontend/src/api/index.ts
Due: frontend

work on CV service
  backend/config/urls.py
  backend/metagrid/api_proxy/views_cv.py
Due: none

whitespace fix
  backend/metagrid/api_globus/views.py
Due: none

Fixes local container
  frontend/Makefile
  frontend/docker-compose.yml
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/entrypoint
  frontend/public/index.html
Due: frontend

Updates CORS_ALLOWED_ORIGINS to be set by env
  backend/config/settings/base.py
Due: none

Fixes adjusting the prefix path for the compiled static js files
  frontend/docker/production/react/entrypoint
Due: none

Fixes allowing STATIC_PATH to be empty
  frontend/docker/production/react/entrypoint
Due: none

Utilizes temporary path for templating index.html
  frontend/docker/production/react/entrypoint
Due: none

Attempt to fix failing test, react-scripts no longer templates index.html
  .github/workflows/frontend.yml
Due: none

Modified styling for error message to handle scrolling for large error notification content.
  frontend/src/common/utils.ts
  frontend/src/components/Globus/DatasetDownload.tsx
Due: none

Fixes local container (#616)
  .github/workflows/frontend.yml
  backend/config/settings/base.py
  frontend/Makefile
  frontend/docker-compose.yml
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/entrypoint
  frontend/public/index.html
Due: frontend

Fixed black formatting issue.
  backend/config/settings/base.py
Due: none

Support custom Solr port (#607)
  backend/metagrid/api_globus/views.py
Due: none

Fixed another black formatting issue.
  backend/metagrid/api_globus/views.py
Due: none

Initial modifications for testing the change from get to post. Transfers seem to fail with expired token, should check that the post request is passing in the correct values.
  backend/metagrid/api_globus/views.py
  frontend/src/api/index.ts
Due: none

adjust token parameters for post()
  backend/metagrid/api_globus/views.py
  frontend/src/api/index.ts
Due: none

Fixed front-end and backend tests to use post. Removed some commented out code
  backend/README.md
  backend/metagrid/api_globus/tests/test_views.py
  backend/metagrid/api_globus/views.py
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: backend

removed some unused/commented out code from backend for cleanup.
  backend/metagrid/api_globus/views.py
Due: none

Change transfer from get to post (#618)
  backend/README.md
  backend/metagrid/api_globus/tests/test_views.py
  backend/metagrid/api_globus/views.py
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: backend
