Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Fix root .gitlab-ci.yml indentation
  .gitlab-ci.yml
Due: none

Remove alpine from pytest
  backend/.gitlab-ci.yml
Due: backend

Add codecov to after_script
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Update codecov after_script
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Update directories for after_script
  backend/.gitlab-ci.yml
Due: backend

Update after_script directories
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Remove coverageThreshold causing build failure
  frontend/package.json
Due: frontend

Update README with badges - Pipeline badge and coverage badges - Updated root README description
  backend/README.md
Due: backend

Update README with badges - Pipeline badge and coverage badges - Updated root README description
  README.md
  frontend/README.md
Due: frontend

Rename script test:coverage
  frontend/.gitlab-ci.yml
  frontend/package.json
Due: frontend

Remove mock API json - No longer needed since Search API calls are now being made
  frontend/public/mock_apis/cmip6.json
  frontend/public/mock_apis/db.json
  frontend/public/mock_apis/e3sm.json
  frontend/public/mock_apis/projects.json
Due: none

Move the availableFacets state up to App.jsx parent
  frontend/src/App.jsx
  frontend/src/components/Facets/index.jsx
Due: none

Fix missing "&" in genUrlQuery func
  frontend/src/utils/api.js
Due: none

Add handleSetAvailableFacets to App.jsx - Handles settings available facets based on if the Search component receives results from the API - Otherwise, use the base facets for a project
  frontend/src/App.jsx
  frontend/src/components/Facets/index.jsx
  frontend/src/components/Search/index.jsx
Due: none

Add type prop to Tag - Distinguishes the type of Tag which is handled when removing
  frontend/src/components/General/Tag.jsx
Due: none

Update Facets component to reset form fields - Based on the appliedFacets prop - Update handleRemoveTag to filter appliedFacets based on the removedTag - Update Tag object to accept children props
  frontend/src/App.jsx
  frontend/src/components/Facets/index.jsx
  frontend/src/components/General/Tag.jsx
  frontend/src/components/Search/index.jsx
Due: none

Fix duplicate key issue rendering facet tags
  frontend/src/components/Search/index.jsx
Due: none

Update y-axis scroll for SearchTable
  frontend/src/components/Search/SearchTable.jsx
Due: none

Add number of files in Cart Summary
  frontend/src/App.jsx
  frontend/src/components/Cart/Summary.jsx
Due: none

Update y-scroll for Search Table
  frontend/src/components/Search/SearchTable.jsx
Due: none

Add cors-anywhere package - Used for self-hosted proxy to bypass CORS
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
