Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Add table of contents - Update docker-compose commands
  README.md
Due: none

Remove unused a tags in README
  README.md
Due: none

Update and fix pre-commit hooks
  .pre-commit-config.yaml
  LICENSE
  backend/.envs/.local/.postgres
  backend/.envs/.production/.postgres.template
  backend/.vscode/settings.json
  backend/docker/local/keycloak/realm-export.json
  backend/metagrid/cart/tests/test_views.py
  backend/metagrid/users/tests/test_views.py
  backend/requirements/base.txt
  backend/requirements/local.txt
  frontend/.dockerignore
  frontend/.envs/.local/.cors-proxy
  frontend/.envs/.production/.cors-proxy.template
  frontend/.envs/.production/.react.template
  frontend/.prettierignore
  frontend/docker/local/cors-proxy/Dockerfile
  frontend/docker/local/react/Dockerfile
  frontend/docker/production/cors-proxy/Dockerfile
  frontend/docker/production/nginx/nginx.conf
  frontend/docker/production/nginx/nginx.subdir.conf
  frontend/package.json
  frontend/src/assets/img/nodes.svg
  frontend/src/assets/img/react_badge.svg
  frontend/src/assets/img/typescript_badge.svg
Due: frontend

Add obs4MIPs quality flag indicators - Closes #192
  frontend/src/assets/img/climate_indicators_table.png
  frontend/src/common/utils.test.ts
  frontend/src/common/utils.ts
  frontend/src/components/Search/Citation.tsx
  frontend/src/components/Search/FilesTable.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
Due: none

Add fallback route to handle 404s - Closes #205
  frontend/src/components/App/App.tsx
Due: none

Update dependency axios to v0.21.1 [SECURITY]
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Improve notification system for improved modularity - Closes #178
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/LeftMenu.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/NodeStatus/index.tsx
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/types.ts
Due: none

Replace expandable row collapsable with tabs - Add Tabs.tsx component - Closes #225
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/Tabs.tsx
Due: none

Update traefik Docker tag to v2.4
  traefik/Dockerfile
Due: none

Add handle for datasets without size or number_of_files attrs - Update RawSearchResult type definition - Handle cart summary calculations of total number of files and total data size - Closes #227
  frontend/src/components/Cart/Summary.test.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/types.ts
Due: none

Add network-timeout to react production Dockerfile - https://stackoverflow.com/questions/52135815/yarn-is-having-troubles-with-the-network-connection
  frontend/docker/production/react/Dockerfile
Due: none

Add default value for numResults in FilesTable
  frontend/src/components/Search/FilesTable.tsx
Due: none

Add handle for when data node status feature is disabled
  frontend/src/components/App/App.test.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/NodeStatus/index.tsx
  frontend/src/components/Search/FilesTable.test.tsx
Due: none

Update github issues templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Replace checkboxes in bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Rename .readthedocs.yml
  .readthedocs.yml
Due: none

Fix frontend docker-compose container name conflict - Remove backend .env.template - Rename server-handlers.test.ts - Update README with docs URL
  README.md
  backend/.env.template
  frontend/.envs/.local/.react
  frontend/docker-compose.prod.yml
  frontend/src/api/mock/server-handlers.test.ts
Due: backend, frontend

Move Django config folder from metagrid to root folder - Move Django settings files to config/settings - Update references to configs - Update docs - Closes #245
  backend/.envs/.local/.django
  backend/.envs/.production/.django.template
  backend/config/__init__.py
  backend/config/settings/__init__.py
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/config/settings/production.py
  backend/config/settings/test.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/docker/production/django/start
  backend/manage.py
  backend/setup.cfg
  docs/docs/contributors/backend_development.md
  docs/docs/contributors/frontend_development.md
Due: backend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
