Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Updated import_functions code so that existing projects will be updated rather than attempting to create new ones over existing ones. Hopefully project updates would be more straight forward.
  backend/metagrid/projects/migrations/scripts/import_functions.py
Due: none

Relocated and renames inital_data.py to initial_projects_data.py located directly in backend/metagrid.
  backend/metagrid/initial_projects_data.py
  backend/metagrid/projects/migrations/scripts/import_functions.py
Due: none

Fixed initial data artifact from testing.
  backend/metagrid/initial_projects_data.py
Due: none

updates to remove cors-proxy
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  traefik/traefik.yml
Due: frontend

correct depends, add template
  frontend/docker-compose.prod.yml
  traefik/traefik.yml.tmpl
Due: frontend

Update typescript-eslint monorepo to v5.27.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Updated the projects script and simplified the cart migrations to try to fix the tests and improve the table functionality. Initial tests seems to work well so far.
  backend/metagrid/cart/migrations/0001_initial.py
  backend/metagrid/cart/migrations/0002_initial.py
  backend/metagrid/projects/migrations/0001_initial.py
  backend/metagrid/projects/migrations/0002_import_projects_data.py
  backend/metagrid/projects/migrations/scripts/import_functions.py
  backend/metagrid/projects/models.py
  backend/metagrid/users/migrations/0001_initial.py
  backend/updateProjects.sh
Due: backend

Update pytz from 2021.3 to 2022.1
  backend/requirements/base.txt
Due: none

Update dependency react-router-dom to v5.3.3
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jest to v28
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jest to v27.5.2
  frontend/package.json
  frontend/yarn.lock
Due: frontend

initial for proxy tests
  backend/metagrid/api_proxy/tests/__init__.py
  backend/metagrid/api_proxy/tests/test_views.py
Due: none

code the test
  backend/metagrid/api_proxy/tests/test_views.py
Due: none

update naming conv, fix typo
  backend/config/urls.py
  backend/metagrid/api_proxy/views.py
Due: none

update tests to improve coverage
  backend/metagrid/api_proxy/tests/test_views.py
Due: none

fix test add dataset id
  backend/metagrid/api_proxy/tests/test_views.py
Due: none

change wget api url
  backend/metagrid/api_proxy/views.py
Due: none

add more types
  backend/config/urls.py
Due: none

switch search to integrated proxy
  frontend/src/api/routes.ts
Due: none

initial start to integrated proxy capability to address CORS issues
  backend/config/urls.py
  backend/metagrid/api_proxy/__init__.py
  backend/metagrid/api_proxy/views.py
Due: none

typofix
  backend/metagrid/api_proxy/views.py
Due: none

revamp for different request types
  backend/metagrid/api_proxy/views.py
Due: none

update to proxy of functionality
  backend/config/urls.py
  backend/metagrid/api_proxy/views.py
  frontend/.envs/.local/.react
  frontend/src/api/index.ts
  frontend/src/api/routes.ts
Due: none

remove cors proxy
  frontend/cors-proxy/index.js
  frontend/cors-proxy/package.json
  frontend/cors-proxy/yarn.lock
Due: none

Updated version value.
  frontend/package.json
  frontend/src/components/App/App.tsx
Due: frontend

update proxy views and tests
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
Due: none

try to make cov happy
  backend/metagrid/api_proxy/views.py
Due: none

Removed outdated react-ga dependency and its references. Inserted the google analytics code into the html header as specified by google. Will probably need to refine and add custom events code later.
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/App/App.tsx
  frontend/src/env.ts
  frontend/yarn.lock
Due: frontend

Fix Google Analytics (#433)
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/App/App.tsx
  frontend/src/env.ts
  frontend/yarn.lock
Due: frontend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
