Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Add monkey patch for HTTPS file downloads - Chrome blocks secure (HTTPS) to insecure (HTTP) downloads (Mixed Content) - Closes #249
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/FilesTable.tsx
Due: none

Minor updates to documentation.
  docs/docs/contributors/architecture_design.md
  docs/docs/contributors/frontend_development.md
Due: none

Update all
  backend/metagrid/cart/models.py
  backend/metagrid/projects/migrations/0017_auto_20201030_2254.py
  backend/metagrid/projects/migrations/0020_facet.py
  backend/metagrid/projects/migrations/scripts/inital_data.py
  backend/metagrid/users/models.py
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add version type for dataset queries
  backend/metagrid/cart/migrations/0012_search_version_type.py
  backend/metagrid/cart/models.py
  backend/metagrid/cart/serializers.py
  backend/metagrid/cart/tests/factories.py
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/SearchesCard.tsx
  frontend/src/components/Cart/types.ts
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/Search/types.ts
  frontend/src/setupTests.ts
Due: none

Add `settings.json` for VSCode
  .vscode/settings.json
  backend/.vscode/settings.json
  frontend/.vscode/settings.json
Due: none

Add every change since initial commit of this branch.
  .gitignore
  backend/.gitignore
  backend/config/settings/base.py
  backend/config/urls.py
  backend/metagrid/subscriptions/__init__.py
  backend/metagrid/subscriptions/admin.py
  backend/metagrid/subscriptions/apps.py
  backend/metagrid/subscriptions/migrations/0001_initial.py
  backend/metagrid/subscriptions/migrations/0002_auto_20210210_1841.py
  backend/metagrid/subscriptions/migrations/0003_delete_subscription.py
  backend/metagrid/subscriptions/migrations/0004_auto_20210212_0345.py
  backend/metagrid/subscriptions/migrations/__init__.py
  backend/metagrid/subscriptions/models.py
  backend/metagrid/subscriptions/serializers.py
  backend/metagrid/subscriptions/tests/__init__.py
  backend/metagrid/subscriptions/tests/factories.py
  backend/metagrid/subscriptions/tests/test_models.py
  backend/metagrid/subscriptions/tests/test_serializers.py
  backend/metagrid/subscriptions/tests/test_urls.py
  backend/metagrid/subscriptions/tests/test_views.py
  backend/metagrid/subscriptions/views.py
  backend/metagrid/users/models.py
  docs/docs/contributors/architecture_design.md
  docs/docs/contributors/frontend_development.md
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/api/routes.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/types.ts
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/Subscriptions/index.test.tsx
  frontend/src/components/Subscriptions/index.tsx
  frontend/src/components/Subscriptions/modules/appdata.ts
  frontend/src/components/Subscriptions/modules/variableData.ts
  frontend/src/components/Subscriptions/types.ts
  frontend/yarn.lock
Due: backend, frontend

Add Pre-commit Checks workflow
  .github/pull_request_template.md
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
  docs/docs/contributors/getting_started_local.md
  docs/docs/contributors/project_standards.md
Due: none

Enforce 100% minimum coverage for pytest - Add terminal coverage output
  backend/setup.cfg
Due: backend

Update all
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/docker/local/cors-proxy/Dockerfile
  frontend/docker/local/react/Dockerfile
  frontend/docker/production/cors-proxy/Dockerfile
  frontend/docker/production/react/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v4.16.1
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all Docker tags
  backend/docker/production/postgres/Dockerfile
  docs/Dockerfile
Due: none

Update dependency eslint-config-prettier to v8
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/routes.ts
  frontend/src/common/utils.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Cart/Searches.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/DataDisplay/Card.tsx
  frontend/src/components/DataDisplay/Empty.tsx
  frontend/src/components/DataDisplay/Popover.tsx
  frontend/src/components/DataDisplay/ToolTip.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Feedback/Alert.tsx
  frontend/src/components/Feedback/Modal.tsx
  frontend/src/components/Feedback/Popconfirm.tsx
  frontend/src/components/Feedback/Skeleton.tsx
  frontend/src/components/General/Button.tsx
  frontend/src/components/NodeStatus/index.tsx
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/Citation.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/FilesTable.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/Tabs.tsx
  frontend/src/components/Support/index.tsx
  frontend/yarn.lock
Due: frontend

Update dependency boto3 to v1.17.18
  backend/requirements/production.txt
Due: none

Remove unused prod dependencies
  backend/requirements/production.txt
Due: none

Update `renovate.json`
  renovate.json
Due: none

Update node script to run TypeScript check - Fix TypeScript checks - Update `tsconfig.json`
  .pre-commit-config.yaml
  frontend/package.json
  frontend/src/api/mock/server.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/DataDisplay/Tag.test.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/tsconfig.json
Due: frontend

Move `django_extensions` to `local.py`
  backend/config/settings/base.py
  backend/config/settings/local.py
Due: none

Update docs with the latest info for environments
  README.md
  docs/docs/contributors/backend_development.md
  docs/docs/contributors/getting_started_local.md
  docs/docs/contributors/getting_started_production.md
  docs/docs/contributors/project_standards.md
  docs/docs/images/pre-commit-flow.svg
  docs/docs/images/pre-commit-passing.png
  docs/docs/images/pre-commit.png
Due: none

Updated FacetsForm.tsx to change 'filename variables' to 'filename search'. Included minor fix to tsconfig.
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/tsconfig.json
Due: frontend

Styling update
  frontend/src/components/Facets/FacetsForm.tsx
Due: none
