Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Fixes creating files templated/generated by entrypoint
  .gitignore
  frontend/Makefile
  frontend/docker/production/react/entrypoint
Due: frontend

Fixes HTML_PATH
  .github/workflows/frontend.yml
Due: none

update django
  backend/requirements/base.txt
Due: none

change to pre
  frontend/src/components/Messaging/messageDisplayData.ts
Due: none

update release notes
  frontend/public/changelog/v1.1.0.md
Due: none

Fixed issue with the date range picker in the facets form not working properly. Migrated from using moment to dayjs latest package.
  frontend/package.json
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/yarn.lock
Due: frontend

fix logout bug
  backend/metagrid/api_proxy/views.py
Due: none

Modified some typing to remove unused/redundant types. Added some styling to the endpoint table.
  frontend/src/api/index.ts
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Globus/recoil/atom.ts
  frontend/src/components/Globus/types.ts
Due: none

Fixes creating files templated/generated by entrypoint (#622)
  .github/workflows/frontend.yml
  .gitignore
  frontend/Makefile
  frontend/docker/production/react/entrypoint
Due: frontend

Removed unneeded import for tests.
  frontend/src/components/Search/index.test.tsx
Due: none

Fixed two more tests that are not affected by globus download tests. Only Globus related tests are failing and may need to be updated.
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/test/jestTestFunctions.tsx
Due: none

update link
  frontend/src/components/NavBar/index.tsx
  metagrid_configs/metagrid_config
Due: none

Minor type declaration for linter fix
  frontend/src/components/Globus/DatasetDownload.tsx
Due: none

Noticed a warning that version is obsolete for docker-compose.yml files. Removed version from docker compose files.
  backend/docker-compose.prod.yml
  backend/docker-compose.yml
  docs/docker-compose.yml
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  traefik/docker-compose.prod.yml
Due: backend, frontend

Added backend tests to bring coverage back to 100%. Removed duplicate functions that may have been brought in by recent merge.
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  frontend/src/api/index.ts
Due: none

A minor and temporary fix for auth issue with the globus endpoint search popup. This will be addressed more elegantly in the future.
  backend/README.md
  backend/config/settings/base.py
  backend/metagrid/api_proxy/views.py
  frontend/src/components/Globus/DatasetDownload.tsx
Due: backend

Updated template to remove secret keys and values.
  backend/.envs/.django
  metagrid_configs/metagrid_config
Due: none

Fixed issue where clicking a saved search doesn't actually set the search table on the search page.
  frontend/src/components/App/App.tsx
Due: none

Added crfToken to other api calls
  frontend/src/api/index.ts
Due: none

Initial commit contianing changes to version number and initial change log updates.
  frontend/package.json
  frontend/public/changelog/v1.1.1-pre.md
  frontend/public/changelog/v1.1.2-rc.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/components/Messaging/messageDisplayData.ts
Due: frontend

Created an endpoint selection modal popup for users to save, add improvements on endpoint selection (#630)
  backend/README.md
  backend/config/settings/base.py
  backend/metagrid/api_proxy/views.py
  frontend/.envs/.react
  frontend/src/api/index.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/common/persistData.ts
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Globus/recoil/atom.ts
  frontend/src/components/Globus/types.ts
Due: backend

Fixed some linting errors.
  backend/README.md
  backend/metagrid/api_proxy/views.py
  backend/metagrid/cart/tests/test_models.py
  backend/metagrid/projects/models.py
  backend/metagrid/projects/tests/test_models.py
  backend/metagrid/users/models.py
  frontend/src/components/Globus/DatasetDownload.tsx
Due: backend

Ran precommit checks and fixed some files, added precommit function to manage scripts.
  backend/README.md
  frontend/.envs/.react
  frontend/public/changelog/v1.1.1-pre.md
  frontend/public/changelog/v1.1.2-rc.md
  manage_metagrid.sh
Due: backend

Added secrets variables so that globus key and secret are available on github backend tests.
  .github/workflows/backend.yml
Due: none

Update python version used in github actions to match the version used in docker files.
  .github/workflows/backend.yml
Due: none

Test to see if adding setup tools will fix issue in ggithub CI. Local works fine.
  .github/workflows/backend.yml
  backend/docker/local/django/Dockerfile
Due: none

Added secrets variables so that globus key and secret are available o… (#649)
  .github/workflows/backend.yml
  backend/docker/local/django/Dockerfile
  backend/docker/production/django/Dockerfile
  backend/requirements/base.txt
  backend/requirements/local.txt
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
Due: none

updates for 1.1.2
  frontend/public/changelog/v1.1.2-rc.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/components/Messaging/messageDisplayData.ts
Due: none

Removed unused react states in dataset download component. Fixed persistence issue in saved endpoints so that they aren't lost when switching to the search or other metagrid pages.
  backend/.envs/.django
  frontend/.envs/.react
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/yarn.lock
Due: frontend

Fixed a couple tests, skipped a test because I couldn't figure out why it fails to run the click handler. Made the wget download successful notice match across the app. Updated the js-pkce package.
  frontend/package.json
  frontend/src/common/utils.ts
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/yarn.lock
Due: frontend

Simplified and sped up some tests by initializing the cart using variables rather that by clicking the app interface. Fixed a few more tests and brought the coverage up.
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/NavBar/RightMenu.test.tsx
Due: none

Updated to latest node:slim container
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
Due: none

Reverted unintentional changes to index.html
  frontend/public/index.html
Due: none

Specified the sha for the local and production docker images.
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
Due: none

Made some changes to see if github tests will pass the way they do locally
  .github/workflows/frontend.yml
  frontend/docker/local/Dockerfile
  frontend/docker/production/react/Dockerfile
Due: none

Refactored the App and some Cart tests, to see if they will pass on github.
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/index.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/test/jestTestFunctions.tsx
Due: none

Increased time out to see if this test will resolve.
  frontend/src/components/Cart/Items.test.tsx
Due: none

Increased time out to see if cart item tests will resolve.
  frontend/src/components/Cart/Items.test.tsx
Due: none

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
