Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Add 100% test coverage for backend project - Add tests for models - Remove unused view - Update .coveragerc to ignore Django config directory
  backend/.coveragerc
  backend/metagrid/projects/tests/test_models.py
  backend/metagrid/projects/views.py
  backend/metagrid/users/tests/test_models.py
Due: backend

Pin dependency msw to 0.19.3
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @typescript-eslint/eslint-plugin to v3.4.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Pin isort version to <5 - flake-isort does not currently support v.5, revert after fix
  .github/workflows/backend.yml
  .pre-commit-config.yaml
Due: none

Update dependency @typescript-eslint/eslint-plugin to v3.6.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-react-hooks to v4.0.5
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add Cart API for allowing authenticated users to save and update their carts using the MetaGrid database
  backend/metagrid/cart/__init__.py
  backend/metagrid/cart/admin.py
  backend/metagrid/cart/apps.py
  backend/metagrid/cart/migrations/0001_initial.py
  backend/metagrid/cart/migrations/0002_auto_20200708_1957.py
  backend/metagrid/cart/migrations/__init__.py
  backend/metagrid/cart/models.py
  backend/metagrid/cart/serializers.py
  backend/metagrid/cart/tests/__init__.py
  backend/metagrid/cart/tests/factories.py
  backend/metagrid/cart/tests/test_models.py
  backend/metagrid/cart/tests/test_serializers.py
  backend/metagrid/cart/tests/test_urls.py
  backend/metagrid/cart/tests/test_views.py
  backend/metagrid/cart/views.py
  backend/metagrid/config/base.py
  backend/metagrid/config/urls.py
  backend/metagrid/users/models.py
  backend/metagrid/users/permissions.py
  backend/metagrid/users/tests/test_models.py
  frontend/package.json
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/Cart/index.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/custom_types/raw-user-auth.d.ts
  frontend/src/custom_types/raw-user-cart.d.ts
  frontend/src/custom_types/raw-user-info.d.ts
  frontend/src/setupTests.ts
  frontend/src/test/custom-render.tsx
  frontend/src/test/fixtures.ts
  frontend/src/test/server-handlers.ts
  frontend/src/utils/api.test.ts
  frontend/src/utils/api.ts
Due: frontend

Add call to humps.decamelizeKeys() in genUrlQuery
  frontend/src/api/index.ts
Due: none

Fix app test displaying error message after failing to remove authenticated user search
  frontend/src/components/App/App.test.tsx
Due: none

Pin dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-react-hooks to v4.0.8
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @typescript-eslint/eslint-plugin to v3.7.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update environment variables section of backend workflow
  .github/workflows/backend.yml
Due: none

Update coverage from 5.2 to 5.2.1
  backend/requirements/local.txt
Due: none

Update pytest from 5.4.3 to 6.0.1
  backend/requirements/local.txt
Due: none
