Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Fixed some pre-commit issue.
  frontend/src/components/Search/Tabs.tsx
Due: none

Updated frontend dependencies for improved security, updates to dockerfile and docker compose.
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend

Disable Gunicorn autoreload by default
  backend/gunicorn_conf.py
  backend/metagrid/tests/test_gunicorn_conf.py
  docs/docs/users/k8s/helm_values.md
  helm/README.md
Due: backend

Align Helm Gunicorn worker config
  backend/metagrid/tests/test_gunicorn_conf.py
  helm/README.md
  helm/templates/backend/configmap.yaml
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_test.yaml.snap
Due: none

Harden backend Helm health probes
  helm/README.md
  helm/templates/backend/deployment.yaml
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
  helm/tests/__snapshot__/backend_test.yaml.snap
  helm/tests/backend_deployment_test.yaml
  helm/values.yaml
Due: none

Refresh Helm test snapshots
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
  helm/tests/__snapshot__/backend_migrate_job_test.yaml.snap
Due: none

Some package updates
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Reverting a previous change to nginx and updated the helm script file to use --rollback-on-failure instead of the deprecated --atomic option.
  frontend/nginx.conf
  metagrid-helm.sh
Due: frontend

Some updates to the manage scripts to help handle podman deployment, including adding handling for pulling pre-built images to save on build time.
  PODMAN_DEPLOYMENT.md
  manage_metagrid.sh
Due: none

Added a prebuild compose overlay file to make sure a build step isn't run when pre-built option is used..
  PODMAN_DEPLOYMENT.md
  docker-compose.prebuilt.yml
  manage_metagrid.sh
Due: none

Fixed some linter errors and updated scripts to prompt for the image to use when reunning pre-built image option.
  PODMAN_DEPLOYMENT.md
  manage_metagrid.sh
  metagrid-helm.sh
  traefik/README-SSL-CONFIGURATION.md
Due: none

Updated manage script to fix issue with images pulled
  manage_metagrid.sh
Due: none

Updated the podman prebuild compose file
  docker-compose.prebuilt.yml
Due: none

Consolidated the podman support documentations and removed dev.yalm
  PODMAN_DEPLOYMENT.md
  PODMAN_SUPPORT.md
Due: none

Created a podman specific layout to help manage production deployment with podman, updated scripts and documentation accordingly.
  PODMAN_DEPLOYMENT.md
  docker-compose.podman.yml
  manage_metagrid.sh
Due: none

Some fixes for overlay order in the manage script
  docker-compose.podman.yml
  manage_metagrid.sh
Due: none

Replaced the prod overlay with podman overlay when deploying podman, to avoid merging the prod with podman, where we end up having privileged ports (80) available.
  docker-compose.podman.yml
  manage_metagrid.sh
Due: none

Updated port settings to remove port bindings and utilize traefik instead.
  PODMAN_DEPLOYMENT.md
  docker-compose.podman.yml
  docker-compose.prod.yml
Due: none

Fixed significant bug with the power downloads not using the correct search results.
  docs/docs/users/configurable_environment_variables.md
  frontend/public/changelog/v1.6.3.md
  frontend/src/common/STAC.ts
  frontend/src/common/utils.ts
  frontend/src/components/Downloads/DownloadModal.tsx
Due: none

Some final fixes before the v1.6.3 release is complete (#959)
  STAC_API_NOTES.md
  backend/config/settings/static.py
  configHelper.sh
  docker-compose-overlay-template.yml
  docs/docs/users/configurable_environment_variables.md
  frontend/public/changelog/v1.6.3.md
  frontend/src/common/STAC.ts
  frontend/src/common/utils.ts
  frontend/src/components/Downloads/DownloadModal.tsx
Due: none

Initial version increment for v1.6.4 release.
  frontend/messageData.json
  frontend/package.json
  frontend/public/changelog/v1.6.4.md
  helm/Chart.yaml
  helm/README.md
  helm/deploy/helmfile.yaml
Due: frontend

Constrain Helm probe success thresholds
  helm/README.md
  helm/templates/backend/deployment.yaml
  helm/tests/backend_deployment_test.yaml
  helm/values.yaml
Due: none

Refresh Helm snapshot formatting
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_migrate_job_test.yaml.snap
Due: none

Updated pnpm to version 11, migrated to msw2, fixed test suite to utilize new msw changes.
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/public/changelog/v1.6.4.md
  frontend/src/api/index.test.ts
  frontend/src/common/utils.test.tsx
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/Summary.test.tsx
  frontend/src/components/Downloads/DatasetDownload.test.tsx
  frontend/src/components/Downloads/DownloadModal.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Messaging/MessageCard.test.tsx
  frontend/src/components/Messaging/StartPopup.test.tsx
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/index.test.tsx
  frontend/src/test/mock/server-handlers.ts
  frontend/src/test/mock/server.ts
Due: frontend

Updated Dockerfile to use the pnpm version that is in package.json, updated node to version to reduce image size and improve security.
  frontend/Dockerfile
Due: frontend

Updated pnpm to version 11, migrated to msw2 (#963)
  frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/public/changelog/v1.6.4.md
  frontend/src/api/index.test.ts
  frontend/src/common/utils.test.tsx
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/Summary.test.tsx
  frontend/src/components/Downloads/DatasetDownload.test.tsx
  frontend/src/components/Downloads/DownloadModal.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Messaging/MessageCard.test.tsx
  frontend/src/components/Messaging/StartPopup.test.tsx
  frontend/src/components/Search/Citation.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/index.test.tsx
  frontend/src/test/mock/server-handlers.ts
  frontend/src/test/mock/server.ts
Due: frontend

Updated some helm tests for the unit tests to include the newly added config option.
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
  helm/tests/__snapshot__/backend_migrate_job_test.yaml.snap
Due: none

Harden backend Helm runtime configuration (#960)
  backend/gunicorn_conf.py
  backend/metagrid/tests/test_gunicorn_conf.py
  docs/docs/users/k8s/helm_values.md
  helm/README.md
  helm/templates/backend/configmap.yaml
  helm/templates/backend/deployment.yaml
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
  helm/tests/__snapshot__/backend_test.yaml.snap
  helm/tests/backend_deployment_test.yaml
  helm/values.yaml
Due: backend

Fixes for helm unit testing.
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
Due: none

More updates for helm unit testing.
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_migrate_job_test.yaml.snap
Due: none

Fixed it so additional tab isn't shown when there's no content of it's undefined.
  frontend/src/components/Search/Tabs.test.tsx
  frontend/src/components/Search/Tabs.tsx
Due: none

Updates to adding background search to determine if new datasets were added since last searches viewed. Added more visual queues to notify users when new datasets were detected.
  frontend/src/common/atoms.ts
  frontend/src/common/backgroundCheckUtils.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/ChangesDialog.tsx
  frontend/src/components/Cart/SearchesCard.tsx
  frontend/src/components/NavBar/RightMenu.tsx
Due: none

Some fixes to the citations filtering the parameter. Also added copy button for meta data.
  frontend/src/components/Search/Citation.tsx
  frontend/src/components/Search/Tabs.test.tsx
  frontend/src/components/Search/Tabs.tsx
Due: none

Fix issues with CMIP7 citations (#962)
  backend/config/settings/site_specific.py
  backend/metagrid/api_proxy/views.py
  docker-compose-overlay-template.yml
  docs/docs/users/configurable_environment_variables.md
  frontend/public/changelog/v1.6.4.md
  frontend/src/api/index.ts
  frontend/src/components/Search/Citation.tsx
  frontend/src/components/Search/Tabs.test.tsx
  frontend/src/components/Search/Tabs.tsx
  helm/Chart.yaml
  helm/templates/backend/configmap.yaml
  helm/tests/__snapshot__/backend_configmap_test.yaml.snap
  helm/tests/__snapshot__/backend_deployment_test.yaml.snap
  helm/values.yaml
Due: none
