Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Update dependency @typescript-eslint/eslint-plugin to v3.9.1
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update fetchWgetScript logic - Update tests to mock window.location.href - Add messages based on wget HTTP request - Add loading status for download button in cart items
  frontend/src/api/index.ts
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/General/Button.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
Due: none

Add packageRules to ignore eslint
  renovate.json
Due: none

Update boto3 to 1.14.45
  backend/requirements/production.txt
Due: none

Update all
  backend/requirements/local.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Remove .production env files - Replace with .template files - Update README
  README.md
  backend/.envs/.production/.django.template
  backend/.envs/.production/.postgres.template
  backend/.gitignore
  frontend/.envs/.production/.proxy.template
  frontend/.envs/.production/.react.template
  frontend/.gitignore
Due: backend, frontend

Remove unnecessary line in README
  README.md
Due: none

Fix search API query string generation - Fix obs4MIPs Project object
  backend/metagrid/projects/migrations/scripts/inital_data.py
  frontend/src/api/routes.ts
  frontend/src/env.ts
Due: none

Add Facet groups to organize UI rendering
  backend/metagrid/projects/migrations/0010_auto_20200723_1713.py
  backend/metagrid/projects/migrations/0011_facetgroup.py
  backend/metagrid/projects/migrations/0012_auto_20200824_2032.py
  backend/metagrid/projects/migrations/0013_facet_group.py
  backend/metagrid/projects/migrations/0014_auto_20200824_2231.py
  backend/metagrid/projects/migrations/scripts/inital_data.py
  backend/metagrid/projects/models.py
  backend/metagrid/projects/serializers.py
  backend/metagrid/projects/tests/factories.py
  backend/metagrid/projects/tests/test_models.py
  frontend/src/api/index.test.ts
  frontend/src/api/mock/fixtures.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/custom_types/project.d.ts
  frontend/src/utils/utils.test.ts
  frontend/src/utils/utils.ts
Due: none

Update title and favicon
  frontend/public/favicon.ico
  frontend/public/index.html
Due: none

Remove layout padding and update sizing - Use standard scale for pixels - Remove footer - Add maxHeight to FacetsForm container with overflow - Add box shadow to navbar
  frontend/src/components/App/App.css
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/NavBar/NavBar.css
  frontend/src/components/Search/Search.css
Due: none

Update placeholder text for free-text form
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/LeftMenu.tsx
Due: none

Add section headers to Facets component - Update rendering of results summary sections - Update tests to reflect changes
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Search/index.tsx
Due: none

Fix form reset with default facet changes
  frontend/src/components/Facets/FacetsForm.tsx
Due: none

Replace cart counts with badges
  frontend/src/components/App/App.test.tsx
  frontend/src/components/NavBar/NavBar.css
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.tsx
Due: none

Add CSSinJS custom type - Update references for CSSinJS
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/Cart/SearchesCard.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/custom_types/css-in-js.d.ts
Due: none

Fix types for CSS refs
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.tsx
Due: none

Rename constraints to filters
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/SearchesCard.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Search/index.tsx
Due: none

Update all - Fix init method in Keycloak stub - Fix type annotations related to msw - Fix breaking tests
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/docker/local/proxy/Dockerfile
  frontend/docker/local/react/Dockerfile
  frontend/docker/production/proxy/Dockerfile
  frontend/docker/production/react/Dockerfile
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/mock/server.ts
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/test/custom-render.tsx
  frontend/yarn.lock
Due: frontend

Update all dependencies (non-major) - Fix breaking tests due to Keycloak stub init method - Update type annotations - Update server-handlers
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/docker/local/proxy/Dockerfile
  frontend/docker/local/react/Dockerfile
  frontend/docker/production/proxy/Dockerfile
  frontend/docker/production/react/Dockerfile
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/mock/server-handlers.ts
  frontend/src/api/mock/server.ts
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/test/custom-render.tsx
  frontend/yarn.lock
Due: frontend

Update all
  backend/requirements/production.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @typescript-eslint/eslint-plugin to v3.10.1
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @typescript-eslint/eslint-plugin to v4
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @typescript-eslint/eslint-plugin to v4.1.1
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none
