Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Custom footer (#727)
  backend/README.md
  backend/config/settings/base.py
  backend/config/settings/site_specific.py
  configHelper.sh
  docs/docs/users/configurable_environment_variables.md
  frontend/public/changelog/v1.3.0.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/common/reactJoyrideSteps.test.ts
  frontend/src/common/reactJoyrideSteps.ts
  frontend/src/common/types.ts
  frontend/src/components/App/App.css
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Footer/Footer.test.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/index.tsx
  frontend/src/test/jestTestFunctions.tsx
  manage_metagrid.sh
Due: backend

V1.3.1 release
  frontend/package.json
  frontend/public/changelog/v1.3.1.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/components/Messaging/messageDisplayData.ts
Due: frontend

Initial test files, they don't work and more tweaking is needed. Moved the older traefik folder into a new folder called old_traefik
  docker-compose.yml
  old_traefik/Dockerfile
  old_traefik/docker-compose.prod.yml
  old_traefik/make_traefik.sh
  old_traefik/traefik.tmpl
  traefik.yml
Due: none

More experimental updates
  frontend/src/components/Facets/FacetsForm.tsx
  traefik-docker-compose.yml
  traefik.yml
Due: none

Created a traefik related docker compose file for testing purposes and a traefik config. Still not working, needs some modifications.
  traefik-docker-compose.yml
  traefik.yml
Due: none

Testing the expansion of the page size and resolving issues related to the amount of text stored for datasets.
  frontend/src/common/utils.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.tsx
  frontend/src/components/Cart/index.tsx
  frontend/src/components/Cart/recoil/atoms.ts
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Search/FilesTable.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/test/jestTestFunctions.tsx
  frontend/src/test/mock/fixtures.ts
Due: none

move traefik config
  Dockerfile
  make_traefik.sh
  traefik.tmpl
Due: none

Added keycloak related layout files, with basic settings.
  docker-compose.keycloak-local-overlay.yml
  docker-compose.keycloak-prod-overlay.yml
Due: none

Update docker-compose.traefik-prod-overlay.yml
  docker-compose.traefik-prod-overlay.yml
Due: none

Update manage_metagrid.sh
  manage_metagrid.sh
Due: none

Traefik for prod
  .pre-commit-config.yaml
  docker-compose.prod-overlay.yml
  docker-compose.yml
  docs/docs/contributors/architecture_design.md
  docs/docs/contributors/getting_started_local.md
  docs/docs/users/moving_to_production.md
  docs/docs/users/quickstart.md
  frontend/nginx.conf
  frontend/vite.config.js
  traefik/Dockerfile
  traefik/docker-compose.prod.yml
  traefik/make_traefik.sh
  traefik/traefik.tmpl
  traefik/traefik.yaml
Due: frontend

Traefik for prod (#734)
  .pre-commit-config.yaml
  docker-compose.prod-overlay.yml
  docker-compose.yml
  docs/docs/contributors/architecture_design.md
  docs/docs/contributors/getting_started_local.md
  docs/docs/users/moving_to_production.md
  docs/docs/users/quickstart.md
  frontend/nginx.conf
  frontend/vite.config.js
  traefik/Dockerfile
  traefik/docker-compose.prod.yml
  traefik/make_traefik.sh
  traefik/traefik.tmpl
  traefik/traefik.yaml
Due: frontend

Updated some docs and the manage scripts
  docker-compose.prod.yml
  docker-compose.yml
  docs/docs/contributors/getting_started_local.md
  docs/docs/users/compose/moving_to_production.md
  manage_metagrid.sh
Due: none

Merged in some minor changes from traefik-deployment-fixes branch to update app css and include other minor fixes.
  .pre-commit-config.yml
  backend/config/settings/site_specific.py
  docker-compose.prod-overlay.yml
  docker-compose.yml
  docs/docs/contributors/getting_started_local.md
  docs/docs/users/configurable_environment_variables.md
  frontend/public/changelog/v1.3.1.md
  frontend/src/components/App/App.css
  frontend/src/components/NavBar/NavBar.css
Due: none

Delete docker-compose.prod-overlay.yml
  docker-compose.prod-overlay.yml
Due: none

Pre-comfig fixes, update to scripts.
  .pre-commit-config.yaml
  backend/config/settings/base.py
  manage_metagrid.sh
Due: none

Some updates to docker deployment to test if they will work in production
  docker-compose.keycloak.yml
  docker-compose.prod.yml
  docker-compose.yml
  manage_metagrid.sh
  traefik/traefik.yml
Due: none

Removed unnecessary prod_traefik file.
  traefik/prod_traefik.yml
Due: none

Updated prod overlay to name the containers with prod to distinguish deployment container types. Updated the config helper script to generate production overlay
  configHelper.sh
  docker-compose.prod.yml
  manage_metagrid.sh
Due: none

Updated changelog. Added dark theme styling to the React Joyride tutorials.
  frontend/public/changelog/v1.3.1.md
  frontend/src/contexts/ReactJoyrideContext.tsx
Due: none

Implemented some suggestions from PR comments. Brightened the tutorial background in dark theme.
  backend/config/settings/base.py
  configHelper.sh
  docker-compose.prod.yml
  docker-compose.yml
  docs/docs/users/compose/moving_to_production.md
  frontend/src/contexts/ReactJoyrideContext.tsx
  traefik/traefik.local.yml
  traefik/traefik.prod.yml
Due: none

Minor fix to compose file.
  docker-compose.prod.yml
Due: none

Reverted container names to leave them be.
  docker-compose.prod.yml
Due: none

Fix minor lint error. Added build step to project migration function.
  backend/UpdateProjectData_README.txt
  manage_metagrid.sh
Due: backend

Minor fix that was missed for changing duplicate Originals and Replicas label, to Replicas Only.
  frontend/src/components/Facets/FacetsForm.tsx
Due: none

Fixed minor issues with helm and wget downloads.
  .github/workflows/helm-chart.yml
  backend/metagrid/api_proxy/views.py
Due: none

Initial v1.3.3 release version update, includes changes to News display, to make version history collapsed as it was getting long.
  frontend/messageData.json
  frontend/package.json
  frontend/public/changelog/v1.3.3.md
  frontend/src/components/Messaging/RightDrawer.tsx
Due: frontend

Initial v1.3.4 commit includes fix for path updating to proper value.
  frontend/messageData.json
  frontend/package.json
  frontend/public/changelog/v1.3.4.md
  frontend/src/components/Globus/DatasetDownload.tsx
Due: frontend

Fixed linting error, tests regard changes to path and added some extra save steps to see if that will resolve globus transfer token auth loop issue in Firefox.
  frontend/public/changelog/v1.3.4.md
Due: none
