Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Add handle for error fetching result count - Add test for handle
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/SearchesCard.tsx
Due: none

Update django to 3.0.7 - Due to security issues with 3.0.6
  backend/requirements/base.txt
Due: none

Update Alert message if error
  frontend/src/components/Cart/SearchesCard.tsx
Due: none

Update postgres Docker tag to v11.8
  backend/docker-compose.yml
Due: backend

Add feature for default facet filtering
  backend/metagrid/projects/models.py
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/Searches.test.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/SearchesCard.tsx
  frontend/src/components/Cart/index.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/custom_types/default-facets.d.ts
  frontend/src/custom_types/saved-searches.d.ts
  frontend/src/utils/api.test.ts
  frontend/src/utils/api.ts
  frontend/src/utils/utils.test.ts
  frontend/src/utils/utils.ts
Due: none

Pin dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-react-hooks to v4
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all
  backend/requirements/base.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update @typescript-eslint/camelcase
  frontend/.eslintrc.js
Due: frontend

Update all
  backend/requirements/base.txt
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all
  frontend/yarn.lock
Due: frontend

Pin dependency eslint to 6.8.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency boto3 to v1.14.4
  backend/requirements/production.txt
Due: none

Update dependency @typescript-eslint/eslint-plugin to v3
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update all
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update @testing-library/user-event
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Fix env API protocol in frontend workflow
  .github/workflows/frontend.yml
Due: none

Update github workflows to run all workflows on push to master
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Fix handleRemoveTag not properly updating the state of active facets
  frontend/src/App.tsx
Due: none

Add 100% test coverage for backend project - Add tests for models - Remove unused view - Update .coveragerc to ignore Django config directory
  backend/.coveragerc
  backend/metagrid/projects/tests/test_models.py
  backend/metagrid/projects/views.py
  backend/metagrid/users/tests/test_models.py
Due: backend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
