Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Updates database (#854)
  .github/workflows/backend.yml
  .github/workflows/containers.yml
  .github/workflows/helm-chart.yml
  backend/config/settings/static.py
  docker-compose.prod.yml
  docker-compose.yml
  helm/Chart.lock
  helm/Chart.yaml
  helm/README.md
  helm/deploy/cnpg.sh
  helm/deploy/cnpg.yaml
  helm/deploy/helmfile.cnpg.yaml
  helm/deploy/helmfile.yaml
  helm/templates/_helpers.tpl
  helm/templates/backend/deployment.yaml
  helm/templates/backend/migrate-job.yaml
  helm/templates/backend/secret.yaml
  helm/templates/frontend/deployment.yaml
  helm/templates/node_status/deployment.yaml
  helm/templates/postgresql/deployment.yaml
  helm/templates/postgresql/secret.yaml
  helm/templates/postgresql/service.yaml
  helm/values.yaml
Due: none

Finished adding files, and fixing issues with the wget downloads, downloads are now working properly. Need to add a few tests to increase test coverage.
  backend/Dockerfile
  backend/config/settings/site_specific.py
  backend/config/settings/static.py
  backend/config/urls.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/metagrid/wget/__init__.py
  backend/metagrid/wget/query_utils.py
  backend/metagrid/wget/templates/wget-simple-template.sh
  backend/metagrid/wget/templates/wget-template.sh
  backend/metagrid/wget/tests/__init__.py
  backend/metagrid/wget/tests/test_views.py
  backend/metagrid/wget/views.py
  docs/docs/users/configurable_environment_variables.md
Due: backend

Fix some issues with precommit and startup
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/config/settings/site_specific.py
  backend/config/settings/static.py
  docker-compose.yml
  docs/docs/users/configurable_environment_variables.md
  helm/deploy/helmfile.cnpg.yaml
  helm/values.yaml
Due: backend

Fixes pre-commit workflow to run on all pull requests
  .github/workflows/pre-commit.yml
Due: none

Fix some issues with precommit and startup (#858)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/config/settings/site_specific.py
  backend/config/settings/static.py
  docker-compose.yml
  docs/docs/users/configurable_environment_variables.md
  helm/deploy/helmfile.cnpg.yaml
  helm/values.yaml
Due: backend

Updated the Table to handle wget downloads for STAC datasets
  backend/metagrid/wget/tests/test_views.py
  frontend/src/common/STAC.ts
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
Due: none

The project name is supposed to be lowercase according to the STAC standards, therefore checking uppercase is not necessary.
  frontend/src/common/STAC.ts
Due: none

Updated backend coverage to ignore unused utility function.
  backend/metagrid/wget/query_utils.py
  frontend/src/common/STAC.ts
Due: none

Feature/wget integration (#859)
  backend/Dockerfile
  backend/config/settings/site_specific.py
  backend/config/settings/static.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/metagrid/wget/__init__.py
  backend/metagrid/wget/query_utils.py
  backend/metagrid/wget/templates/wget-simple-template.sh
  backend/metagrid/wget/templates/wget-template.sh
  backend/metagrid/wget/tests/__init__.py
  backend/metagrid/wget/tests/test_views.py
  backend/metagrid/wget/views.py
  backend/requirements/base.txt
  docker-compose.yml
  docs/docs/users/configurable_environment_variables.md
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/common/STAC.ts
  frontend/src/common/utils.ts
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/test/mock/fixtures.ts
Due: backend

Initial update to include new METAGRID_SUPPORT_INFO optional setting that allows admin support information to be included by site admins for users to reach out.
  backend/config/settings/site_specific.py
  docs/docs/users/configurable_environment_variables.md
  frontend/src/common/types.ts
  frontend/src/components/Support/index.tsx
Due: none

Feature/custom support info (#863)
  backend/config/settings/site_specific.py
  docs/docs/users/configurable_environment_variables.md
  frontend/src/common/types.ts
  frontend/src/components/Support/index.tsx
Due: none

Minor update to increase test coverage.
  frontend/src/common/STAC.test.ts
Due: none

Fixes globus transfer issues when authenticated (#866)
  backend/metagrid/api_globus/views.py
  frontend/src/common/STAC.test.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/index.tsx
Due: none

Updated a few packages to remove django backend warnings. Updated docker overlays to see if production deployment wil run successfully with default configuration.
  backend/Dockerfile
  backend/requirements/base.txt
  docker-compose.prod.yml
  manage_metagrid.sh
Due: backend

Fixed a globus transfer backend test.
  backend/metagrid/api_globus/tests/test_views.py
Due: none

Modified backend test to fix issue with non-matching client id
  backend/metagrid/api_globus/tests/test_views.py
Due: none

Fix pre-commit issues.
  backend/metagrid/api_globus/tests/test_views.py
Due: none

Fixed more than half of the failing tests. Restored the deleted filename search and commented it out, in case we decide to bring it back or users miss it.
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/test/jestTestFunctions.tsx
Due: none

Feature/production deployment fixes (#867)
  .gitignore
  backend/Dockerfile
  backend/metagrid/api_globus/tests/test_views.py
  backend/requirements/base.txt
  configHelper.sh
  docker-compose.prod.yml
  manage_metagrid.sh
Due: backend

Fixed remaining tests, added 2 for the keyword search feature and skipped the tests associated with filename search.
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Tabs.test.tsx
  frontend/src/components/Search/index.test.tsx
Due: none

Added more tests and updated some components to improve test suite coverage.
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/common/STAC.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Footer/Footer.test.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/index.test.tsx
Due: none

add WrPMIP and obs4MIPs update
  backend/metagrid/initial_projects_data.py
Due: none

Updated axios package to latest, minor updates to the changelog and fixed a bug that occurs where setting the path to a newly added collection wasn't redirecting to that specific collection.
  frontend/package.json
  frontend/public/changelog/v1.5.4.md
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/yarn.lock
Due: frontend

Updated joyride tutorial for main page to remove the top navbar keyword search and added it to the facets tutorial.
  frontend/src/common/joyrideTutorials/reactJoyrideSteps.ts
  frontend/src/components/Facets/FacetsForm.tsx
Due: none

add WrPMIP and obs4MIPs update (#874)
  backend/metagrid/initial_projects_data.py
Due: none

Fixed minor pre-commit issues.
  backend/metagrid/initial_projects_data.py
Due: none

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
