Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Revert yarn.lock, fix more tests
  .github/workflows/backend.yml
  backend/Dockerfile
  backend/config/settings/site_specific.py
  backend/setup.cfg
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/yarn.lock
Due: backend, frontend

Minor linting error fixes.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Fixed some backend tests based on the removed/unused functions
  backend/config/urls.py
  backend/metagrid/api_proxy/tests/test_views.py
Due: none

Small fix to test.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Includes some updates and minor fixes so that everything builds and runs correctly. Removed the GLOBUS_REDIRECT setting and did some cleanup of the manage_metagrid.sh functions.
  .github/workflows/backend.yml
  backend/config/settings/base.py
  backend/metagrid/api_globus/views.py
  backend/requirements/local.txt
  docker-compose.yml
  docs/Dockerfile
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/common/types.ts
  frontend/src/test/jestTestFunctions.tsx
  frontend/yarn.lock
  manage_metagrid.sh
  metagrid_configs/.local_config
Due: frontend

Updated the test files to no longer use the act() functions, as they are deprecated. Cleaned up and fixed some failing tests.
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/index.test.tsx
  frontend/src/components/DataDisplay/Tag.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Feedback/Popconfirm.test.tsx
  frontend/src/components/General/Button.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Messaging/StartPopup.test.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Support/index.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/ReactJoyrideContext.test.tsx
  frontend/src/test/jestTestFunctions.tsx
Due: none

Fix esgsearch json tests
  backend/metagrid/api_globus/tests/test_views.py
  backend/metagrid/api_globus/views.py
Due: none

Add dark mode
  frontend/src/assets/img/esgf.png
  frontend/src/assets/img/esgf_logo.png
  frontend/src/assets/img/nodes.svg
  frontend/src/components/App/App.tsx
  frontend/src/components/App/recoil/atoms.ts
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Cart/index.test.tsx
  frontend/src/components/DataDisplay/Tag.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/Feedback/Popconfirm.test.tsx
  frontend/src/components/General/Button.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Messaging/StartPopup.test.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/NodeStatus/NodeSummary.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Support/index.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/ReactJoyrideContext.test.tsx
  frontend/src/index.css
  frontend/src/test/jestTestFunctions.tsx
Due: none

update for obs4MIPs (#711)
  backend/metagrid/initial_projects_data.py
Due: none

Minor test fixes to see if tests will pass on github (they pass locally).
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/index.test.tsx
Due: none

Added alert for the case that a collection search fails in the manage collections popup (#710)
  backend/config/urls.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Search/Table.test.tsx
Due: none

Fixed some linting errors related to unused imports
  frontend/src/components/Cart/SearchesCard.test.tsx
  frontend/src/components/Cart/index.test.tsx
  frontend/src/components/DataDisplay/Tag.test.tsx
  frontend/src/components/Facets/FacetsForm.test.tsx
  frontend/src/components/Facets/ProjectForm.test.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Feedback/Popconfirm.test.tsx
  frontend/src/components/General/Button.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Messaging/StartPopup.test.tsx
  frontend/src/components/NavBar/LeftMenu.test.tsx
  frontend/src/components/NavBar/index.test.tsx
  frontend/src/components/NodeStatus/index.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/components/Support/index.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/ReactJoyrideContext.test.tsx
  frontend/src/test/jestTestFunctions.tsx
Due: none

Some minor modifications to the pre-commit files, including removing repeated settings-doc-markdown config, to see if that resolves the pre-commit failure.
  .github/workflows/frontend.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Persist theme choice
  frontend/src/components/App/recoil/atoms.ts
Due: none

Add dark mode
  frontend/src/assets/img/esgf.png
  frontend/src/assets/img/esgf_logo.png
  frontend/src/assets/img/nodes.svg
  frontend/src/components/App/App.tsx
  frontend/src/components/App/recoil/atoms.ts
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/NodeStatus/NodeSummary.tsx
  frontend/src/index.css
Due: none

Add tests for Dark mode feature
  frontend/package.json
  frontend/src/components/App/recoil/atoms.ts
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/setupTests.ts
  frontend/yarn.lock
Due: frontend

Fix broken link in Globus transfer panel
  backend/metagrid/api_globus/tests/test_views.py
  backend/metagrid/api_globus/views.py
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.test.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/src/test/mock/fixtures.ts
  frontend/yarn.lock
Due: frontend

Testing pre-commit update, probably won't work...
  .github/workflows/pre-commit.yml
Due: none

Fix tests, simplify front-end changes. Revert the github pre-commit.yml changes (they didn't fix pre-commit issue).
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
Due: none

Testing that pre-commit works using new steps including settings-docs steps
  .github/workflows/pre-commit.yml
Due: none

Testing pre-commit fixes.
  .github/workflows/pre-commit.yml
Due: none

Testing pre-commit fixes, updating requirements text location.
  .github/workflows/pre-commit.yml
Due: none

Testing pre-commit fixes, added back the eslint dependencies.
  .github/workflows/pre-commit.yml
Due: none

Globus link display update (#3)
  .github/workflows/pre-commit.yml
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
Due: none

Fix broken link in Globus transfer panel (#719)
  .github/workflows/pre-commit.yml
  backend/metagrid/api_globus/tests/test_views.py
  backend/metagrid/api_globus/views.py
  frontend/package.json
  frontend/src/api/index.test.ts
  frontend/src/api/index.ts
  frontend/src/components/App/App.test.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/Items.test.tsx
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.test.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/src/test/mock/fixtures.ts
  frontend/yarn.lock
Due: frontend

Minor update to update summary.
  frontend/public/changelog/v1.2.2.md
Due: none

V1.2.2 release (#716)
  .vscode/settings.json
  backend/config/urls.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/metagrid/initial_projects_data.py
  docs/docs/contributors/getting_started_production.md
  docs/requirements.txt
  frontend/.envs/.react
  frontend/package.json
  frontend/public/changelog/v1.2.2.md
  frontend/public/messages/metagrid_messages.md
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Messaging/messageDisplayData.ts
  frontend/src/components/NodeStatus/StatusToolTip.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/test/mock/fixtures.ts
Due: frontend

V1.3.0 additional fixes (#721)
  .vscode/settings.json
  backend/README.md
  backend/config/urls.py
  backend/metagrid/api_proxy/tests/test_views.py
  backend/metagrid/api_proxy/views.py
  backend/metagrid/initial_projects_data.py
  backend/setup.cfg
  docs/requirements.txt
  frontend/public/changelog/v1.2.2.md
  frontend/src/common/utils.test.tsx
  frontend/src/common/utils.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Cart/types.ts
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Messaging/messageDisplayData.ts
  frontend/src/components/NodeStatus/StatusToolTip.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/Search/types.ts
  frontend/src/test/mock/fixtures.ts
  manage_metagrid.sh
Due: backend

Add Prometheus and Blackbox Exporter to docker compose to support Node Status
  docker-compose.yml
  monitoring/esgf_node_status_targets.yaml
  monitoring/prometheus.yaml
Due: none

Dark mode (#718)
  frontend/package.json
  frontend/src/assets/img/esgf.png
  frontend/src/assets/img/esgf_logo.png
  frontend/src/assets/img/nodes.svg
  frontend/src/components/App/App.css
  frontend/src/components/App/App.tsx
  frontend/src/components/App/recoil/atoms.ts
  frontend/src/components/Cart/Summary.tsx
  frontend/src/components/Facets/index.tsx
  frontend/src/components/NavBar/NavBar.css
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.tsx
  frontend/src/components/NodeStatus/NodeSummary.tsx
  frontend/src/components/NodeStatus/StatusToolTip.tsx
  frontend/src/components/NodeStatus/index.tsx
  frontend/src/index.css
  frontend/src/setupTests.ts
  frontend/yarn.lock
Due: frontend

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
