Repository esgf2-us/metagrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

backend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - backend/*
      when: always
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
      when: always
    - changes:
        - frontend/*
      when: always
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

Fix Helm Chart (#759)
  .github/workflows/helm-chart.yml
  helm/Chart.yaml
  manage_metagrid.sh
Due: none

Fixed some broken tests, added a few more tests and a new fixtures to increase coverage.
  frontend/src/api/index.test.ts
  frontend/src/common/STAC.ts
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/types.ts
  frontend/src/test/mock/fixtures.ts
  frontend/src/test/mock/server-handlers.ts
Due: none

Minor fixes to linter errors.
  frontend/src/components/Search/Table.tsx
Due: none

Fixed issue with joyride tutorials, where the add/minus buttons weren't being selected. Updated tutorial to work for the case where user is logged in.
  frontend/src/common/TargetObject.test.ts
  frontend/src/common/TargetObject.ts
  frontend/src/common/reactJoyrideSteps.ts
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/Search/Table.tsx
Due: none

Increase the testing timeout. Tests pass locally but seemed to fail/timeout on github.
  frontend/src/setupTests.ts
Due: none

Updated the timeout value for globus tests only, reverting the overall timeout for other tests.
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/setupTests.ts
Due: none

More changes to see why test fails in github but not locally
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/NodeStatus/NodeSummary.test.tsx
  frontend/src/contexts/ReactJoyrideContext.test.tsx
Due: none

Test with additional troubleshooting info.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Increase timeout time again
  frontend/src/setupTests.ts
Due: none

Increase timeout time again for specific failing test.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Skipping test for now, it passes locally but consistently fails in github, will need to troubleshoot further.
  frontend/src/components/Globus/DatasetDownload.test.tsx
Due: none

Initial commit with incremented version.
  frontend/messageData.json
  frontend/package.json
  frontend/public/changelog/v1.3.6.md
  helm/Chart.yaml
  helm/README.md
  helm/helmfile.yaml
Due: frontend

Patch the backend docker file to make sure pip and setup tools are upgraded to latest in order to avoid current installation issues when run without.
  backend/Dockerfile
Due: backend

Some cleanup of unused code and tests. Updated and fixed some tests so that all tests now pass.
  frontend/package.json
  frontend/src/common/DataBundlePersister.ts
  frontend/src/common/atoms.test.tsx
  frontend/src/common/atoms.ts
  frontend/src/common/utils.test.tsx
  frontend/src/common/utils.ts
  frontend/src/components/Cart/Searches.tsx
  frontend/src/components/Facets/ProjectForm.tsx
  frontend/src/components/Facets/index.test.tsx
  frontend/src/components/Globus/DatasetDownload.test.tsx
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/NavBar/RightMenu.test.tsx
  frontend/src/components/NavBar/RightMenu.tsx
  frontend/src/components/NavBar/index.tsx
  frontend/src/components/NodeStatus/GlobusToolTip.tsx
  frontend/src/components/Search/index.test.tsx
  frontend/src/setupTests.ts
  frontend/src/test/custom-render.tsx
  frontend/src/test/jestTestFunctions.tsx
  frontend/src/test/mock/fixtures.ts
  frontend/yarn.lock
Due: frontend

Updated yarn.lock file.
  frontend/yarn.lock
Due: frontend

Did some code cleanup and updated changelog.
  frontend/public/changelog/v1.3.6.md
  frontend/src/common/DataBundlePersister.ts
  frontend/src/components/Facets/FacetsForm.tsx
  frontend/src/components/Search/index.tsx
Due: none

Initial commit, added column sorting for both search and files tables. Updated the changelog, fixed all tests so they pass.
  frontend/public/changelog/v1.3.6.md
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/FilesTable.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/types.ts
Due: none

Fixed linter complaint
  frontend/src/components/Facets/FacetsForm.tsx
Due: none

Added tests and updates to bring coverage back to 100% for all components except globus dataset downloads.
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/types.ts
Due: none

Feature/sortable table columns (#767)
  frontend/public/changelog/v1.3.6.md
  frontend/src/components/Globus/DatasetDownload.tsx
  frontend/src/components/Search/FilesTable.test.tsx
  frontend/src/components/Search/FilesTable.tsx
  frontend/src/components/Search/Table.test.tsx
  frontend/src/components/Search/Table.tsx
  frontend/src/components/Search/types.ts
Due: none

Remove esg.pik-potsdam.de from node status
  helm/files/esgf_node_status_targets.yml
Due: none

Adds options to configure the blackbox exporter
  helm/files/blackbox_exporter.yml
  helm/templates/node_status/deployment.yaml
  helm/templates/node_status/secret.yaml
  helm/values.yaml
Due: none

Changed version from 1.3.5 to 1.5.0
  frontend/messageData.json
  frontend/package.json
  frontend/public/changelog/v1.5.0.md
  frontend/public/messages/metagrid_messages.md
  helm/Chart.yaml
  helm/README.md
  helm/helmfile.yaml
Due: frontend
